.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    max-width: 250px;
    margin: 2rem auto;
    text-align: center;
}
.price{
    color: gray;
    font-size: 20px;
}
.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
